{%extends 'layout.html'%}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container" style="padding-top: 5em;">
  {% if results %}  
    <p class="alert alert-success alert-dismissible fade show" role="alert">Found {{results|length}} stuff related to {{message}}</p>
  {% else %}
    <p class="alert alert-warning alert-dismissible fade show" role="alert">Found 0 stuff related to {{message}}</p>
  {% endif %}

  {% if results %}
  <h1 class="text-center">Available Businesses</h1>
  {% endif %}
  <div class="row">
    <div class="card-columns">
    {% for bizna in results %}
      <div class="card">
        <div class="card-header">
          <div>{% if bizna.owner.profile.pic %}<img src="{{bizna.owner.profile.pic}}" class="rounded-circle" width="40px" height="40px" alt="profile_pic">{% endif %} {{bizna.owner}}</div>
        </div>
        <div class="card-body">
          <h4>{{bizna.name}}</h4>
          {% if bizna.b_pic %}
          <img src="{{bizna.b_pic}}" width="250px" height="200px"alt='logo'>
          {% endif %}
          <h6>About: {{bizna.about}}</h6>                
          <h6>Location: {{bizna.hood}}</h6>
          <div>Contact: <small>{{bizna.bs_email}}</small></div>        
        </div>        
      </div>
    {% endfor %}        
    </div>
  </div>
</div>
{% endblock content %}